.container {
    max-width: 900px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.navbar {
    background-color: white;
    /* height: 50px; */
}

.navbar .flex {
    justify-content: space-between;
}

.navbar li {
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .menu-btn {
    border: none;
    outline: none;
    color: black;
    padding: 8px 16px;
    background-color: inherit;
    margin: 0;
}

.dropdown:hover .menu-btn {
    background-color: rebeccapurple;
    color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    display: block;
    float: none;
    text-decoration: none;
    text-align: left;
    color: black;
    padding: 1px 8px;
}

.dropdown-content a:hover {
    background-color: rgb(52, 50, 150);
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.content {
    max-width: 900px;
    min-width: 300px;
    margin: 0 auto;
    /* background-color: coral; */
    background-color: rgba(255, 127, 80, 0.95);
}

.content-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.content-header {
    padding: 0 80px;
}

.content-body {
    padding: 0 20px;
}

.content-body img {
    margin: auto;
    min-width: 100px;
    min-height: 100px;
    background-size: cover;
    width: 100px;
}

.table-number {
    background-color: black;
    color: white;
    text-align: center;
    font-weight: 800;
    width: 100px;
}

.table-album {
    color: white;
    text-align: center;
    /* height: 100px; */
    padding: 0 0;
    margin: 0 0;
}

.table-name {
    color: white;
    text-align: center;
    left: 0;
    text-align: left;
}

.table-fav {
    color: white;
    text-align: center;
    left: 0;
    text-align: left;
}

table {
    height: 40%;
    margin: 20px auto;
    overflow-y: scroll;
    position: static;
    width: 100%;
}